.post-link {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1.75rem;
}

.post-link:hover {
  color: black;
  text-decoration-color: #00cdac;
}

@media (max-width: 544px) {
  .post-link {
    font-size: 1.25rem;
  }
}

.btn-nav {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #212529;
  font-size: 1rem;
  border: 2px solid #212529;
  border-radius: 5%;
}

.btn-nav:hover {
  color: #00cdac;
  border-color: #00cdac;
}
