.post-link {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 1.75rem;
}

.post-link:hover {
  color: black;
  text-decoration-color: #00cdac;
}

@media (max-width: 544px) {
  .post-link {
    font-size: 1.25rem;
  }
}