.post-container {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.header {
  text-align: center;
}

.nav-link {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: black;
}

.nav-link:hover {
  color: black;
  text-decoration-color: #00cdac;
}

blockquote {
  margin: 10px auto;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #212529;
  padding: 20px 10px 20px 50px;
  border-left: 4px solid #00cdac;
  line-height: 1.4;
  position: relative;
  background: #f5f5f5;
}

blockquote::before {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  content: '\201C';
  color: #00cdac;
  font-size: 3em;
  position: absolute;
  left: 5px;
  top: -5px;
}

blockquote::after {
  content: '';
}
