.page-title {
  font-family: Montserrat, Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  display: none;
}

@media (max-width: 544px) {
  .page-title {
    text-align: center;
    display: inline-block;
  }
}
