<section id="contact">
    <%- page.content %>

    <form action="https://formspree.io/f/mpzkakgo"
    method="POST"
    id="contact">
    <label for="name">Name</label>
    <input type="text" name="name" class="contact-text-input" required />
    <label for="_replyto">Email</label>
    <input type="email" name="_replyto" class="contact-text-input"required />
    <label for="message">Message</label>
    <textarea name="message" cols="50" rows="10" class="contact-textarea" required></textarea>
    <fieldset class="field field-button">
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_subject" value="Message via https://msanatan.com" />
        <input type="hidden" name="_next" value="/" />
        <input type="submit" class="contact-button" value="Send" />
    </fieldset>
</form>
  </section>
