.btn-nav {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #212529;
  font-size: 1rem;
  border: 2px solid #212529;
  border-radius: 5%;
}

.btn-nav:hover {
  color: #00cdac;
  border-color: #00cdac;
}
