.menu-item {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #212529 !important;
}

.menu-item:hover {
  color:#00cdac !important;
}

@media (min-width: 544px) {
  .menu-item {
    font-size: 2rem;
  }
}

.menu-item-active {
  text-decoration: solid underline #00cdac 3px;
  text-underline-position: under;
}
